<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <!-- Which provider? -->
        <add key="provider" value="System.Data.SqlClient" />
    </appSettings>
    <!-- Here are the connection strings. -->
    <connectionStrings>
        <add name ="AutoLotSqlProvider"
             connectionString ="Data Source=(localDB)\MSSQLLocalDB;Initial Catalog=AutoLot;Integrated Security=True"/>
  </connectionStrings>
</configuration>